<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apress.prospring3.ch11.persistence.ContactMapper">
    <resultMap id="contactResultMap" type="Contact">
        <id property="hello" column="STRING" />
    </resultMap>
    <select id="findAll" resultMap="contactResultMap">
        SELECT * FROM HELLO
    </select>
</mapper>